@import url('https://fonts.googleapis.com/css?family=Heebo:300');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.displaypic {
    text-align: center;
}

.displaypic img {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border: solid 1px #9C80EA;
    border-radius: 50%;
    background: #CDD3D0;
}

.headerlinks{
    position: absolute;
}

.headerlinks ul {
    display: flex;
    justify-content: left;
    margin: 0px 20px;
    padding: 0px;
}

.headerlinks li {
    display: inline-block;
    list-style-type: none;
    padding: 8px;
    font-size: 16px;
}

.links ul {
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 75px;
}

.links li {
    display: inline-block;
    list-style-type: none;
    padding: 8px;
    font-size: 40px;
}

a:link, a:visited {
    color: #2D2419;
}

a:hover, a:focus {
    color: #9C80EA;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Heebo';
}

body {
    background: #FFFFFF;
    background-image:  url("dust_scratches.png");
    color: #2D2419;
}

.container h1 {
    text-align: center;
    font-weight: 100;
    font-size: 32px;
    margin: 0px;
}

.container h2 {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    margin: 0px;
}

.eventcontainer {
    display: block;
    max-width: 800px;
    height: 100%;
    margin: auto;
    padding-top: 40px;
}

.eventcontainer h1 {
    text-align: left;
    font-weight: 100;
    font-size: 32px;
    margin: 0px;
}

.eventcontainer h2 {
    text-align: left;
    font-weight: 100;
    font-size: 24px;
}

.eventcontainer h3 {
    text-align: left;
    font-weight: 100;
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.eventdate {
    font-size: 18px;
    display: block;
}

.event {
    border: 1px solid #9C80EA;
    margin: 5px;
    padding: 20px;
}

.eventdate::before {
    content: "Date: ";
    font-weight: bold;
}

.eventlocation {
    font-size: 18px;
    display: block;
}

.eventlocation::before {
    content: "Location: ";
    font-weight: bold;
}

.eventdescription {
    font-size: 16px;
    display: block;
}

.eventdescription::before {
    content: "About: ";
    font-size: 18px;
    font-weight: bold;
}

.eventlink {
    font-size: 18px;
    display: block;
}

.eventlink::before {
    content: "More Info: ";
    font-size: 18px;
    font-weight: bold;
}